<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.matt.rivendell</string>

  <key>ProgramArguments</key>
  <array>
    <string>__ROOT_DIR__/scripts/start.sh</string>
  </array>

  <key>WorkingDirectory</key>
  <string>__ROOT_DIR__</string>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/Users/mjohnst/.rivendell/rivendell.out.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/mjohnst/.rivendell/rivendell.err.log</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PORT</key>
    <string>8091</string>
    <key>HOST</key>
    <string>0.0.0.0</string>
  </dict>
</dict>
</plist>
